---
layout: default
---
<div class="post">
{% if page.type == "link" %}
  <h4><a href="{{ post.external-url | prepend: site.baseurl }}">{{ page.title }}</a></h4>           
  <article class="post-content">
    {{ content }} 
    <div class="link-post-meta">{{ page.date | date: "%e %B %Y" }}</div>           
  </article>
{% else %}
  <h3>{{ page.title }}</h3>       
  <div class="post-meta">{{ page.date | date: "%e %B %Y" }}</div>        
  <article class="post-content">
    {{ content }}          
  </article>
{% endif %}
</div>
